html {
  font-family: "Inter", sans-serif;
  -webkit-tap-highlight-color: transparent;
  background-color: #010409;
  color: #fff;

  &:focus {
    outline: 0;
  }
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  text-rendering: geometricPrecision;
}
